/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;

  font-family: var(--main-font-family), sans-serif;
  font-variation-settings: "wght" var(--weight-card-text, 400);
  color: var(--main-color, #000);

  background-color: var(--background-color, #fff);
  background-image: var(--background-image);
  background-size: 4px;
  background-repeat: repeat;
  background-attachment: fixed;
}

.header {
  --padding-top: clamp(7.50rem, calc(7.15rem + 1.50vw), 8.50rem);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: var(--section-size);
  margin-block-end: 100px;
  padding: var(--padding-top) 0 25px;
  background-color: var(--background-color, #fff);
  border: 2px solid currentColor;
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
}

.header__logo {
  font-size: var(--logo-font-size);
  text-transform: uppercase;
  padding-block-end: 20px;
}

.header__title {
  font-weight: var(--weight-card-text, 400);
  font-size: var(--title-font-size);
  text-transform: uppercase;
  padding-block-end: 25px;
}

.theme-menu {
  transform: translateX(10px);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding: 0;
  font-size: inherit;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity .3s ease;
  cursor: pointer;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  inset-block-end: -2px;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 2px;
  background-color: var(--main-color);
  transform-origin: left center;
  scale: 0;
  transition: scale .3s ease;
}

.theme-menu__button:hover {
  opacity: .6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: .6;
}

.theme-menu__button:focus-visible::after {
  scale: 1;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: .6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset: 50% auto auto 0;
  animation: arrow-movement .5s infinite alternate ease-in-out;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: var(--section-size);
}

.card {
  border: 2px solid currentColor;
  margin-bottom: 50px;
  background-color: var(--background-color, #fff);
}

.card__title {
  border-block-end: 2px solid currentColor;
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--weight-card-title, 700);
}

.card__image {
    display: block;
    inline-size: 100%;
    object-fit: cover;
    object-position: center;
}

.card__text-block {
  border-block-start: 2px solid currentColor;
  padding: 25px;
}

.card__text {
  font-size: 18px;
  line-height: 1.17;
}

.card__text:not(:last-child) {
  margin-bottom: 27px;
}

.card__button-block {
  padding: 0 25px 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

.button {
  position: relative;
  border: 2px solid var(--main-color);
  padding: 10px 17px;
  overflow: hidden;
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  background-color: var(--background-color);
  transition: box-shadow .3s ease;
  cursor: pointer;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  transition: translate .5s ease-in-out;
  translate: -100%;
}

.button:hover {
  color: var(--background-color);
}

.button:hover::before {
  translate: 0%;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
}

.button__text {
  position: relative;
}


.card__icon-button {
  max-block-size: 38px;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
}

.card__like-button {
  min-inline-size: 130px;
}

.button-floppy {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  padding: 15px 20px;
}

.button-floppy svg {
  position: relative;
  block-size: 1.5em;
  fill: var(--main-color);
}

@media (width <= 375px) {
  .button-floppy {
    flex-direction: column;
  }
  
  .button-floppy svg {
    block-size: 2em;
  }
}

